<section class="flex-column height-full">
<nav class="navbar-container justify-content-between">
  <%=link_to categories_path do%>
  <i class="fa-sharp fa-solid fa-arrow-left white-color"></i>
  <%end%>
  <h5 class="white-color">Transaction</h5>
  <%= button_to destroy_user_session_path, method: :delete, class:"login-button" do %>
  <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
  <% end %>
</nav>

<p class= "text-align-center" style="color: green"><%= notice %></p>

<%= render @category %>

<div class= "purchases-list">
<%@purchases.each do |purchases|%>
<div class= "category-item">
  <p><%= purchases.name %></p>
  <p>$<%= purchases.amount %></p>
</div>
<%end%>
</div>
<%= link_to new_purchase_path(:cat_id => @category.id), class: "new-catagory-container" do %>
  <div>
    New Transaction
  </div>
<% end %>
</section>